{% extends "testapp/base.html" %}
{% load static %}

{% block title %}
    Your Shopping cart
{% endblock %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="Test/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="Test/css/custom.css"/>

<div class="container text-center">

  <div class="col-md-5 col-sm-12">
    <div class="bigcart"></div>
    <h1>Your shopping cart</h1>
  </div>
  <div class="col-md-7 col-sm-12 text-left">
    <ul>
      <li class="row list-inline columnCaptions">
        <span>Test</span>
        <span>Remove</span>
        <span>Unit Price</span>
        <span>Price</span>

        {% for item in cart %}
            {% with test=item.test %}
        <li class="row">
          <span class="test">{{ test.name }}</span>
          <span class="Removeitem"><a href="{% url "cart:cart_remove" test.id %}">Remove</a></span>
          <span class="price">${{ item.price }}</span>
          <span class="totalprice">${{ item.total_price }}</span>
        </li>
            {% endwith %}
        {% endfor %}


        <li class="row totals">
          <span class="itemName">Total:</span>
          <span class="price">${{ cart.get_total_price }}</span>
          <span class="order"> <a class="text-center" href="{% url "testapp:test_list" %}">Continue Shopping</a></span>
          <span class="order"> <a class="text-center" href="{% url "orders:order_create" %}">Checkout</a></span>

        </li>
        </ul>
        </div>

        </div>

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="Test/js/bootstrap.min.js"></script>
        <script src="Test/js/customjs.js"></script>

{% endblock %}











<!-- JavaScript includes -->
